.no-tasks-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  --ion-background-color: default;
}

.no-tasks-text {
  font-size: 18px;
  color: var(--ion-color-medium);
  margin-bottom: 20px;
}
